.p-datatable {
  width: 100%;
}

.p-datatable-responsive-demo .p-datatable-tbody > tr > td {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (min-width: 40em) {
  .p-datatable-responsive-demo .p-datatable-tbody > tr > td {
    display: table-cell;
    flex-direction: row;
    align-items: center;
  }
}

.disabled-row {
  background-color: rgb(229, 39, 39) !important;
  color: white !important;
}
.enabled-row {
  background-color: rgb(8, 188, 20) !important;
  color: white !important;
}

.zaglavlje {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.disabled-row input,
.disabled-row p-inputNumber,
.disabled-row p-dropdown,
.disabled-row p-calendar {
  pointer-events: none;
}

#button{
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease;
}

#button:hover{
  border-radius: 0px;
  transform: rotate(360deg);
  transform: scale(1.05);
  transition: all 0.5s ease;
}

#kartica{
  box-shadow: 2px 2px 10px rgba(106, 103, 103, 0.2);
  border-radius: 20px;
  border:5px; 
}

#karticaInv{
  box-shadow: 2px 2px 10px rgba(27, 27, 27, 0.2) !important;
  border-radius: 0px !important;
  border:10px !important; 
  padding: 5px;
}

.ngb-typeahead-window {
  max-height: 200px; 
  overflow-y: auto;  
}

@keyframes fadeinout {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.text-upozorenje {
  color: red; 
  -webkit-animation: fadeinout 2s linear 1 forwards;
  animation: fadeinout 2s linear 1 forwards;
  margin-top: 2px;
  font-size: small;
  animation-iteration-count: 3;
  font-weight: bold; 
  letter-spacing: 1px; 
}








