#buttonPrimjeni {
    position: absolute;
    right: 0;
    margin-top: 27px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.text-upozorenje {
    -webkit-animation: fadeinout 3s linear 1 forwards;
    animation: fadeinout 3s linear 1 forwards;
    color: red;
    font-size: small;
    animation-iteration-count: 3;
    margin-top: 2px;
}

@-webkit-keyframes fadeinout {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeinout {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#upitnik {
    float:right;
    margin-top: 30px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-right: 15px;
}

#datumOd {
    width: 250px;
    transition: 0.5s;
}

#datumOd:hover {
    width: 350px;
    transition: 0.5s;
}

#datumDo {
    width: 250px;
    transition: 0.5s;
}

#datumDo:hover {
    width: 350px;
    transition: 0.5s;
}

#kartica {
    padding: 5px !important;
    box-shadow: 10px 10px 10px rgba(30, 23, 95, 0.2);
    border-radius: 20px;
    border:10px; 
}

#header {
    margin: 15px;
    font-size: larger;
    font-weight: bold;
}

#tekst-para {
    font-size: 14px;
    font-style: italic;
}