<nb-card class="editor-card">
  <nb-card-header>
    <div class="editor-header">
      <span>Grafički editor layouta</span>

    </div>
  </nb-card-header>

<nb-card class="editor-card">
  <nb-card-header>
    <div class="header-toolbar">
      <div class="toolbar-left">
        <button nbButton size="small" status="basic" [disabled]="true">
          <nb-icon icon="move-outline"></nb-icon>
          Odaberi
        </button>
        <button nbButton size="small" status="success" (click)="otvoriModalZaDodavanje()">
          <nb-icon icon="plus-outline"></nb-icon>
          Dodaj poziciju
        </button>
        <button nbButton size="small" status="info" [disabled]="selectedIndex === null" (click)="kopirajPoziciju()">
          <nb-icon icon="copy-outline"></nb-icon>
          Kopiraj
        </button>
        <button nbButton size="small" status="danger" [disabled]="selectedIndex === null" (click)="obrisiPoziciju()">
          <nb-icon icon="trash-2-outline"></nb-icon>
          Zalijepi
        </button>
      </div>

      <div class="toolbar-center">
        <button nbButton size="small" status="basic" [class.active]="showFilters" (click)="toggleFilters()">
          <nb-icon icon="funnel-outline"></nb-icon>
          Filteri
          <span class="filter-badge" *ngIf="hasActiveFilters()">{{ getActiveFiltersCount() }}</span>
        </button>
      </div>
      
      <div class="toolbar-right">
        <div class="zoom-control">
          <button nbButton size="small" status="basic" (click)="zoomOut()">
            <nb-icon icon="minus-outline"></nb-icon>
          </button>
          <span class="zoom-value">{{ zoom * 100 | number: '1.0-0' }}%</span>
          <button nbButton size="small" status="basic" (click)="zoomIn()">
            <nb-icon icon="plus-outline"></nb-icon>
          </button>
        </div>
        
        <button nbButton size="small" status="basic" (click)="triggerBackgroundUpload()">
          <nb-icon icon="image-outline"></nb-icon>
          Podloga
        </button>
        
        <button nbButton size="small" status="primary" (click)="sacuvaj()">
          <nb-icon icon="save-outline"></nb-icon>
          Sačuvaj
        </button>
      </div>
    </div>
  </nb-card-header>

  <nb-card-body>
    <!-- Filters Panel -->
    <div class="filters-panel" *ngIf="showFilters">
      <div class="filters-grid">
        <div class="filter-item">
          <label>Pretraga po broju pozicije</label>
          <input nbInput fullWidth
                 [(ngModel)]="filterBrojPozicije"
                 (ngModelChange)="primijeniFiltere()"
                 placeholder="P001, P002..."
                 [nbTooltip]="'Pretražite po broju pozicije'"
                 nbTooltipPlacement="top">
        </div>

        <div class="filter-item">
          <label>Dobavljač</label>
          <nb-select fullWidth multiple
                     [(ngModel)]="filterTrgovci"
                     (selectedChange)="primijeniFiltere()"
                     placeholder="Svi dobavljači">
            <nb-option *ngFor="let trgovac of dostupniDobavljaci" [value]="trgovac">
              {{ trgovac }}
            </nb-option>
          </nb-select>
        </div>

        <div class="filter-item">
          <label>Odjel/Kategorija</label>
          <nb-select fullWidth multiple
                     [(ngModel)]="filterOdjeli"
                     (selectedChange)="primijeniFiltere()"
                     placeholder="Svi odjeli">
            <nb-option *ngFor="let odjel of odjeli" [value]="odjel">
              {{ odjel }}
            </nb-option>
          </nb-select>
        </div>

        <div class="filter-item">
          <label>Tip pozicije</label>
          <nb-select fullWidth multiple
                     [(ngModel)]="filterTipovi"
                     (selectedChange)="primijeniFiltere()"
                     placeholder="Svi tipovi">
            <nb-option *ngFor="let tip of tipovi" [value]="tip.value">
              {{ tip.label }}
            </nb-option>
          </nb-select>
        </div>

        <div class="filter-item filter-checkbox">
          <nb-checkbox [(ngModel)]="filterIsticeUskoro" (checkedChange)="primijeniFiltere()">
            Zakup ističe uskoro ({{ pragDanaIsteka }} dana)
          </nb-checkbox>
        </div>

        <div class="filter-item filter-checkbox">
          <nb-checkbox [(ngModel)]="filterSamoSlobodne" (checkedChange)="primijeniFiltere()">
            Samo slobodne pozicije
          </nb-checkbox>
        </div>

        <div class="filter-actions">
          <button nbButton size="small" status="basic" (click)="resetFilters()">
            <nb-icon icon="refresh-outline"></nb-icon>
            Resetuj filtere
          </button>
          <span class="filter-results">
            Prikazano: {{ prikazanePozicije.length }} / {{ pozicije.length }}
          </span>
        </div>
      </div>
    </div>

    <div class="editor-layout">
      <!-- Canvas Area -->
      <div class="canvas-area">
        <div class="canvas-viewport" #canvas (pointerdown)="onCanvasPointerDown($event)">
          <div class="canvas-pan" [ngStyle]="getPanStyle()">
            <div class="canvas-content" [ngStyle]="getCanvasStyle()">
              <div
                class="background-layer"
                *ngIf="layout.backgroundData && isImageBackground()"
                [ngStyle]="getBackgroundStyle()"
              ></div>

              <div
                class="layout-item"
                *ngFor="let item of prikazanePozicije"
                [class.selected]="selectedIndex === item.index"
                [class.invalid]="isOutOfBounds(item.pozicija) || isOverlapping(item.index)"
                [class.bubble]="item.pozicija.tip === 'promotivna_pozicija'"
                [ngStyle]="getPozicijaStyle(item.pozicija)"
                [nbTooltip]="getPozicijaTooltip(item.pozicija)"
                nbTooltipClass="pozicija-tooltip"
                nbTooltipPlacement="top"
                (pointerdown)="onPointerDown($event, item.index)"
                (click)="selectPozicija(item.index)"
              >
                <span class="layout-label">{{ getPozicijaLabel(item.pozicija) }}</span>

                <div
                  class="resize-handle"
                  (pointerdown)="onResizePointerDown($event, item.index)"
                  title="Resize"
                ></div>
              </div>
            </div>
          </div>
        </div>

        <div class="warnings-bar" *ngIf="warnings.length">
          <nb-icon icon="alert-triangle-outline"></nb-icon>
          <span>{{ warnings.length }} upozorenja</span>
        </div>
      </div>

      <!-- Sidebar -->
      <div class="sidebar" *ngIf="selectedIndex !== null">
        <div class="sidebar-header">
          <h6>Detalji pozicije</h6>
          <button nbButton size="tiny" ghost status="basic" (click)="selectedIndex = null">
            <nb-icon icon="close-outline"></nb-icon>
          </button>
        </div>

        <div class="sidebar-content">
          <div class="form-group">
            <label>Broj pozicije</label>
            <input nbInput fullWidth [(ngModel)]="pozicije[selectedIndex].brojPozicije" />
          </div>

          <div class="form-group">
            <label>Dobavljač</label>
            <input nbInput fullWidth [(ngModel)]="pozicije[selectedIndex].trgovac" 
                   placeholder="Naziv dobavljača" />
          </div>          
          
          <div class="form-group">
            <label>Naziv artikla</label>
            <input nbInput fullWidth [(ngModel)]="pozicije[selectedIndex].nazivArtikla" 
                   placeholder="Naziv artikla" />
          </div>

          <div class="form-group">
            <label>Zakup do</label>
            <input nbInput fullWidth type="date" [(ngModel)]="pozicije[selectedIndex].zakupDo" />
          </div>

          <div class="form-group">
            <label>Vrijednost zakupa (KM)</label>
            <input nbInput fullWidth type="number" [(ngModel)]="pozicije[selectedIndex].vrijednostZakupa" 
                   min="0" step="0.01" placeholder="0" />
          </div>

          <div class="form-group">
            <label>Vrsta ugovora</label>
            <nb-select fullWidth [(ngModel)]="pozicije[selectedIndex].vrstaUgovora">
              <nb-option *ngFor="let vrsta of vrsteUgovora" [value]="vrsta">{{ vrsta }}</nb-option>
            </nb-select>
          </div>

          <div class="form-group">
            <label>Tip pozicije (oprema)</label>
            <nb-select fullWidth [(ngModel)]="pozicije[selectedIndex].tipPozicije">
              <nb-option *ngFor="let tip of tipoviPozicije" [value]="tip">{{ tip }}</nb-option>
            </nb-select>
          </div>

          <div class="form-group">
            <label>Tip</label>
            <nb-select fullWidth [(ngModel)]="pozicije[selectedIndex].tip" (selectedChange)="azurirajUpozorenja()">
              <nb-option *ngFor="let tip of tipovi" [value]="tip.value">{{ tip.label }}</nb-option>
            </nb-select>
          </div>

          <div class="form-group">
            <label>Naziv/Oznaka</label>
            <input nbInput fullWidth [(ngModel)]="pozicije[selectedIndex].naziv" 
                   (ngModelChange)="azurirajUpozorenja()" />
          </div>

          <div class="form-group">
            <label>Odjel</label>
            <nb-select fullWidth [(ngModel)]="pozicije[selectedIndex].zona">
              <nb-option *ngFor="let odjel of odjeli" [value]="odjel">{{ odjel }}</nb-option>
            </nb-select>
          </div>

          <div class="sidebar-actions">
            <button nbButton fullWidth status="danger" outline (click)="obrisiPoziciju()">
              <nb-icon icon="trash-2-outline"></nb-icon>
              Obriši poziciju
            </button>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>

<!-- Hidden file input -->
<input #backgroundInput type="file" accept=".jpg,.jpeg,.dwg" (change)="onBackgroundSelected($event)" style="display: none;" />

<!-- Modal za dodavanje -->
<div class="modal-backdrop" *ngIf="isDodavanjeModalOpen">
  <nb-card class="modal-card">
    <nb-card-header>
      <span>Dodaj poziciju</span>
      <button nbButton size="tiny" ghost status="basic" (click)="zatvoriModalZaDodavanje()">
        <nb-icon icon="close-outline"></nb-icon>
      </button>
    </nb-card-header>
    
    <nb-card-body>
      <div class="modal-form">
        <div class="form-group">
          <label>Tip pozicije</label>
          <nb-select fullWidth [(ngModel)]="novaPozicija.tip">
            <nb-option *ngFor="let tip of tipovi" [value]="tip.value">{{ tip.label }}</nb-option>
          </nb-select>
        </div>

        <div class="form-group">
          <label>Naziv</label>
          <input nbInput fullWidth [(ngModel)]="novaPozicija.naziv" placeholder="Unesite naziv..." />
        </div>

        <div class="form-group">
          <label>Broj pozicije</label>
          <input nbInput fullWidth [(ngModel)]="novaPozicija.brojPozicije" placeholder="P001" />
        </div>

        <div class="form-group">
          <label>Odjel</label>
          <nb-select fullWidth [(ngModel)]="novaPozicija.zona">
            <nb-option *ngFor="let odjel of odjeli" [value]="odjel">{{ odjel }}</nb-option>
          </nb-select>
        </div>
      </div>
    </nb-card-body>

    <nb-card-footer>
      <div class="modal-actions">
        <button nbButton status="basic" (click)="zatvoriModalZaDodavanje()">Odustani</button>
        <button nbButton status="success" (click)="potvrdiDodavanje()">Dodaj</button>
      </div>
    </nb-card-footer>
  </nb-card>
</div>
</nb-card>

<div class="modal-backdrop" *ngIf="isDodavanjeModalOpen">
  <nb-card class="modal-card">
    <nb-card-header>Dodaj poziciju</nb-card-header>
    <nb-card-body>
      <div class="modal-form">
        <label>Tip pozicije</label>
        <nb-select [(ngModel)]="novaPozicija.tip">
          <nb-option *ngFor="let tip of tipovi" [value]="tip.value">{{ tip.label }}</nb-option>
        </nb-select>

        <label>Naziv</label>
        <input nbInput [(ngModel)]="novaPozicija.naziv" />

        <label>Broj pozicije</label>
        <input nbInput [(ngModel)]="novaPozicija.brojPozicije" />

        <label>Odjel</label>
        <nb-select [(ngModel)]="novaPozicija.zona">
          <nb-option *ngFor="let odjel of odjeli" [value]="odjel">{{ odjel }}</nb-option>
        </nb-select>
      </div>
    </nb-card-body>

    <nb-card-footer class="modal-actions">
      <button nbButton status="basic" outline (click)="zatvoriModalZaDodavanje()">Odustani</button>
      <button nbButton status="success" (click)="potvrdiDodavanje()">Dodaj</button>
    </nb-card-footer>
  </nb-card>
</div>
