#kartica{
    width: 700px;
    height: 630px;
    padding: 5px !important;
    box-shadow: 10px 10px 10px rgba(30, 23, 95, 0.2);
    border-radius: 20px;
    border:10px; 
  }

  #button{
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease;
  }
  
  #button:hover{
    border-radius: 0px;
    transform: rotate(360deg);
    transform: scale(1.05);
    transition: all 0.5s ease;
  }