.nb-card{
    height: 200px;
    width: 400px;
}

#button{
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease;
  }
  
  #button:hover{
    border-radius: 0px;
    transform: rotate(360deg);
    transform: scale(1.05);
    transition: all 0.5s ease;
  }

  .text-upozorenje {
    -webkit-animation: fadeinout 3s linear 1 forwards;
    animation: fadeinout 3s linear 1 forwards;
    color: red;
    font-size: small;
    animation-iteration-count: 3;
    margin-top: 2px;
}