#kartica {
    width: 800px;
    height: 475px;
}

td.kolicinaArtikla{
    background-color: #dae0da;
    color: black;
    width: 150px;
  }

.p-cell-editing input {
    width: 100%; 
    box-sizing: border-box;
}