<!--Zaglavlje-->
<nb-card>
  <div class="row form-group">
  <div class="col">
  <h4 id="header">
    Pregled otpisanih artikala
    <br>
    <p id="tekst-para">
      Oslobodite se robe neuslovne za prodaju!
    </p>
  </h4>
  </div>
</div>
</nb-card>
<hr >
<!--Ispis podataka u tabelu-->
<nb-card>
  <nb-card-header>
    <nb-icon icon="clipboard"></nb-icon> Lista podnesenih artikala za otpis
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>
    </div>
  </nb-card-body>
</nb-card>
<hr>
<!-- Tabela odbijenih artikla sa redovnog otpisa v0.1
<nb-card>
  <nb-card-header>
    <nb-icon icon="close-square"></nb-icon> Lista odbijenih artikala
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <ng2-smart-table [settings]="odbijeniArtikli" [source]="sourceOdbijeniArtikli"></ng2-smart-table>
    </div>
  </nb-card-body>
</nb-card>
-->
