#buttonPrimjeni{
    position:absolute;
    right:0;
    margin-top:27px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
}
.text-upozorenje {
    -webkit-animation: fadeinout 3s linear 1 forwards;
    animation: fadeinout 3s linear 1 forwards;
    color: red;
    font-size: small;
    animation-iteration-count: 3;
    margin-top: 2px;
}

@-webkit-keyframes fadeinout {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeinout {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
#upitnik{
    position:absolute;
    right:0;
    top:0;
    margin-right: 20px;
    margin-top: 3px;
}

#kartica{
    padding: 5px !important;
    box-shadow: 10px 10px 10px rgba(30, 23, 95, 0.2);
    border-radius: 20px;
    border:10px; 
}