<!--Zaglavlje-->
<div class="form-group">
    <h4>
        Detaljan pregled artikala
        <br>
        <p>
            <nb-icon icon="external-link-outline"></nb-icon> Pregled artikala na izdatnici troška
        </p>
    </h4>
</div>
<!--Table za pregled artikala na otpisu-->
<nb-card>
    <nb-card-header>
        <nb-icon icon="browser-outline"></nb-icon> Pregled artikala na izdatnici troška
    </nb-card-header>
    <nb-card-body>
        <form #formaIzdatnica="ngForm" (ngSubmit)="formaIzdatnica.valid">
            <ng2-smart-table [settings]="settings" [source]="source" (editConfirm)="onSaveConfirm($event)">
            </ng2-smart-table>
            <hr>
            <div class="row forma-group">
                <div class="col">
                    <button type="submit" id="spremiButton" style="margin-top:25px;" (click)="spremiOdobreneArtikle()"
                        nbButton status="success" nbSpinnerStatus="info">
                        <nb-icon icon="checkmark-circle-2"></nb-icon> Odobri artikle
                    </button>
                </div>

                <div class="col">
                    <button type="delete" id="odbijButton" style="margin-top:25px;" (click)="spremiOdbijeneArtikle()"
                        nbButton status="danger" nbSpinnerStatus="info">
                        <nb-icon icon="close-circle"></nb-icon> Odbij artikle
                    </button>
                </div>

            </div>

        </form>

    </nb-card-body>
</nb-card>
<!--Tabela artikala koji nisu odobreni za otpis-->
<nb-card>
    <nb-card-header>
        <nb-icon icon="repeat-outline"></nb-icon> Artikli koji nisu odobreni na izdatnici
    </nb-card-header>
    <nb-card-body>
        <form #formaRedovni="ngForm" (ngSubmit)="formaRedovni.valid && spremi()">
            <ng2-smart-table [settings]="odbijeniArtikli" [source]="source">
                <!--EDIT source za podatke-->
            </ng2-smart-table>
            <div class="row">
                <div class="col">
                    <button type="submit" id="spremiButton" style="margin-top:25px;" nbButton status="success"
                        nbSpinnerStatus="info">
                        <nb-icon icon="save-outline"></nb-icon> Spremi
                    </button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>