#header{
    margin:15px;
    font-size: larger;
    font-weight: bold;
  }
  #tekst-para{
    font-size: 14px;
    font-style: italic;
  }
  #ispisButton{
    position:absolute;
    right: 0;
    top: 0;
    margin-right: 20px;
    margin-top: 30px;
}