@import '../@theme/styles/themes';

@include nb-install-component() {
  ::ng-deep router-outlet + * {
    display: block;
    animation: fade 1s;

    @keyframes fade {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }
}
#loader{
  position: absolute;
  left: 50%;
  top: 50%;
  }

  .nb-card{
    padding: 5px !important;
    box-shadow: 10px 10px 10px rgba(30, 23, 95, 0.2);
    border-radius: 20px;
    border:10px; 
  }

