<nb-card class="stavke-pregled-modal">
  <nb-card-header>
    {{ naslov }} - stavke
  </nb-card-header>
  <nb-card-body>
    <div class="alert alert-danger" *ngIf="greska">{{ greska }}</div>
    <div class="table-responsive" *ngIf="!loading; else loadingStavke">
      <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th>Šifra artikla</th>
            <th>Naziv artikla</th>
            <th>Bar kod</th>
            <th>Dobavljač</th>
            <th class="text-end">Akcijska MPC</th>
            <th class="text-end">AS SA</th>
            <th class="text-end">AS MO</th>
            <th class="text-end">AS BL</th>
            <th>Status</th>
            <th>Opis</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let stavka of stavke">
            <td>{{ stavka.sifra }}</td>
            <td>{{ stavka.naziv }}</td>
            <td>{{ stavka.barKod }}</td>
            <td>{{ stavka.dobavljac }}</td>
            <td class="text-end">{{ stavka.akcijskaMpc | number: '1.2-2' }}</td>
            <td class="text-end">{{ stavka.asSa | number: '1.0-2' }}</td>
            <td class="text-end">{{ stavka.asMo | number: '1.0-2' }}</td>
            <td class="text-end">{{ stavka.asBl | number: '1.0-2' }}</td>
            <td>{{ stavka.status }}</td>
            <td>{{ stavka.opis }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #loadingStavke>
      <div class="d-flex justify-content-center">
        <nb-spinner></nb-spinner>
      </div>
    </ng-template>
  </nb-card-body>
  <nb-card-footer class="col">
    <button style="float:inline-start;" nbButton status="success" size="small"
     (click)="exportujStavke()" [disabled]="!stavke.length">
    <nb-icon icon="download"></nb-icon> Excel
    </button>
    <button style="float:inline-end;" nbButton status="danger" size="small" (click)="zatvori()">Zatvori</button>
  </nb-card-footer>
</nb-card>
