.footer{
    margin-top: 70px;
}

#forma {
    align-self: center;
    margin-left: 20%;
    margin-right: 50%;
    box-shadow: 0px 0px 20px rgba(241, 2, 2, 0.2) !important;
    border-radius: 20px !important;
    border:20px !important; 
    padding: 5px;
    width: 400px !important;
    height: 450px !important;
}